.html {
  font-size: 0.8em;
}
.body {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  display: flex;
  box-sizing: border-box;
}

@media (max-width: 600) {
  .section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}

.calendar-box {
  flex: 2;
  padding: 25px;
  text-align: center;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendar-title {
  font-size: 2rem;
}
.calendar-months {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.2rem;
}

.calendar-months span {
  padding: 30px;
}

.calendar-dates,
.calendar-days {
  display: flex;
  flex-flow: wrap;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.calendar-dates > span,
.calendar-days > span {
  min-width: 14.2857%;
  max-width: 14.2857vw;
  position: relative;
  font-size: 0.8rem;
  padding: 10px 0;
}

.inactive-day,
.inactive-month {
  color: #ccc;
}

.inactive-month {
  font-size: 0.8rem;
}

.divider-line hr {
  height: 2px;
  border-width: 0;
  /* color: #000; */
  background-color: #000;
}

.event-box {
  background-image: linear-gradient(
      rgba(224, 224, 240, 0.5),
      rgba(0, 4, 255, 0.5)
    ),
    url("./images/sean-o-KMn4VEeEPR8-unsplash.jpg");
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  background-position: center;
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-date span:last-child {
  text-transform: uppercase;
}

.event-details {
  font-size: 0.8rem;
  flex: 1;
  padding: 10px;
  margin: 10px 0 0 0;
  display: flex;
}

.vl {
  border-left: 3px solid white;
  border-left-color: #fff;
  flex: 1;
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.list {
  flex: 9;
  padding: 10px;
  /* margin: 10px; */
  border-radius: 5px;
  color: #fff;
  background-color: #00000080;
  text-align: left;
}

.calendar-controls {
  display: flex;
  align-items: center;
}

.calendar-arrow,
.event-create {
  font-size: 2rem;
}
.event-create {
  color: #fff;
}
.event-signin {
  text-align: right;
  margin: 0 0 10px 0;
  text-transform: lowercase;
}
