.calendar-box {
  flex: 1;
  position: relative;
  padding: 70px 25px;
  margin: 10px;
  background: #fff388b7;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 5px 50px;
}

.calendar-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  width: 100%;
}
.calendar-header span {
  width: 50%;
}

.calendar-title {
  text-align: left;
}

.calendar_year {
  text-align: right;
}

.calendar-header span {
  flex: 2;
}

.calendar-dates,
.calendar-days {
  display: flex;
  flex-flow: wrap;
  font-size: 1.1em;
}

.calendar-dates > span,
.calendar-days > span {
  flex: 1;
  min-width: 14.2857%;
  max-width: 14.2857vw;
  position: relative;
  font-size: 1.2rem;
  /* line-height: 0; */
}

.inactive-month {
  color: #ccc;
}
